<template name="workoutSubmit">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="workout name" name="name" id="name" type="text" value="" class="validate">
            </div>
        </div>
        <form action="#">
          {{#each exercises}}
              <p>
                  <input type="checkbox" id="{{_id}}"/>
                  <label for="{{_id}}">{{name}}</label>
              </p>
          {{/each}}
        </form>
        <div class="row">
            <input type="submit" value="Submit" class="waves-effect waves-light btn">
        </div>
    </form>
</template>
