<template name="workoutSubmit">
  {{# autoForm collection="Workouts" id="workoutSubmit" type="method" meteormethod="workoutInsert" }}
      <fieldset>
        {{> afQuickField name='name' }}
        {{> afQuickField name='exercises' }}
      </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
</template>

<template name="exerciseInWorkout">
  {{> quickForm collection="Exercises" id="exerciseInWorkout" type="insert" }}
</template>

<template name="exerciseArrayInsert">
  {{> quickForm id="exerciseArrayInsert" type="update-pushArray" collection=Exercises doc=this scope="exercises"}}
</template>
