<template name="workoutsList">
    <div class="row">
        <div class="col-md-12">
            <h3>Workouts</h3>
        </div>
    </div>
    <div class="collection">
        <div class="row">
            <div class="col-md-10 list-group">
              {{#each workouts}}
                {{> workoutListItem}}
              {{/each}}
            </div>
            <div class="col-md-2">
              {{#if currentUser}}
                  <a href="{{pathFor 'workoutSubmit'}}" button type="button" class="btn btn-success">Add workout</a>
              {{/if}}
            </div>
        </div>
    </div>
</template>
