<template name="exercisesList">
    <div class="row">
        <div class="col-md-10">
            <h3>Exercises</h3>
        </div>
    </div>
    <div class="collection">
        <div class="row">
            <div class="col-md-10 list-group">
              {{#each exercises}}
                {{> exerciseListItem}}
              {{/each}}
            </div>
            <div class="col-md-2">
              {{#if currentUser}}
                  <a href="{{pathFor 'exerciseSubmit'}}" button type="button" class="btn btn-success">Add exercise</a>
              {{/if}}
            </div>
        </div>
    </div>
</template>
