<template name="exerciseItem">
    <div></div>
    <div></div>
    <div class="row">
        <div class="col s12 m6">
            <div class="jumbotron">
                    <h3>{{name}}</h3>
                    <p>Target area: {{bodyPart}}</p>
              {{#if ownExercise}}
                  <div class="card-action">
                      <a href="{{pathFor 'exerciseEdit'}}" class="btn btn-primary btn-lg">Edit</a>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>
</template>
