<template name="exerciseSubmit">
  <form class="col s12">
      <div class="row">
          <div class="input-field col s6">
              <input name="name" id="name" type="text" value="" class="validate">
              <label for="name">name</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input name="bodyPart" id="bodyPart" type="text" value="" class="validate">
              <label for="bodyPart">target area</label>
          </div>
      </div>
      <div class="row">
          <input type="submit" value="Submit" class="waves-effect waves-light btn">
      </div>
  </form>
</template>
